# EditorConfig is awesome: https://editorconfig.org

# top-most .editorconfig file
root = true

# All files
[*]
indent_style = space  # Use spaces for indentation
indent_size = 2       # Number of spaces used per indentation level


# Override for Makefile
[Makefile]
indent_style = tab

# Markdown files (md)
[*.md]
trim_trailing_whitespace = false  # Markdown can use trailing whitespace for line breaks